/* RegisterForm.css */

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333; /* Темно-серая рамка */
    border-radius: 10px;
    background-color: #f5f5f5; /* Светло-серый цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: #9b0a0a; /* Красный цвет для сообщения об ошибке */
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Темно-серый цвет текста метки */
}

input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #333; /* Темно-серая рамка для инпута */
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #333; /* Темно-серый цвет кнопки */
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555; /* Темно-серый цвет при наведении на кнопку */
}
